/ {
	sus_board: sus-board {
		compatible = "zephyr,user";

		/* XIAO D6 = nRF P1.11. Use <&gpio0 29 GPIO_ACTIVE_HIGH> for D3. */
		vperiph-en-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;

	};

	aliases {
		imu1 = &imu1;
		imu2 = &imu2;
		mmc = &mmc;
		lis3mdl = &lis3mdl;
	};
};

&xiao_i2c {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;

	/*
	 * LSM6DSOX uses the LSM6DSO driver for its common accelerometer,
	 * gyroscope, and temperature register set.
	 */
	imu1: lsm6dso32@6a {
		compatible = "st,lsm6dso32";
		reg = <0x6a>;
		accel-range = <1>; /* +/-32 g on LSM6DSO32 */
		accel-odr = <5>;   /* 208 Hz */
		gyro-range = <6>;  /* +/-2000 dps */
		gyro-odr = <5>;    /* 208 Hz */
		status = "okay";
	};

	imu2: lsm6dso32@6b {
		compatible = "st,lsm6dso32";
		reg = <0x6b>;
		accel-range = <1>; /* +/-32 g on LSM6DSO32 */
		accel-odr = <5>;   /* 208 Hz */
		gyro-range = <6>;  /* +/-2000 dps */
		gyro-odr = <5>;    /* 208 Hz */
		status = "okay";
	};

	mmc: magnetometer@30 {
		compatible = "memsic,mmc56x3";
		reg = <0x30>;
		magn-odr = <100>;
		bandwidth-selection-bits-0;
		auto-self-reset;
		status = "okay";
	};

	lis3mdl: magnetometer@1c {
		compatible = "st,lis3mdl-magn";
		reg = <0x1c>;
		status = "okay";
	};
};

&xiao_spi {
	status = "okay";
	cs-gpios = <&gpio1 12 GPIO_ACTIVE_LOW>;

	mx25l25645g: flash@0 {
		compatible = "jedec,spi-nor";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <8000000>;
		spi-cpol;
		spi-cpha;
		jedec-id = [c2 20 19];
		size = <268435456>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <30000>;
	};
};

/*
 * The stock XIAO board definition maps UART0 to D6/D7. This board uses those
 * pins for board functions, while the console runs over USB CDC.
 */
&uart0 {
	status = "disabled";
};
